@{
    ViewBag.Title = "UserSuccessPage";
    Layout = null;
}



<html>
<head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/custom.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <style>

        .bordert {
            border-top: 1px solid #aaa;
            position: relative
        }

            .bordert:after {
                content: "Connect with";
                position: absolute;
                top: -13px;
                left: 33%;
                background-color: #fff;
                padding: 0px 8px
            }



        h1 {
            font-size: 28px;
            color: dimgray;
        }
    </style>


    <title>  Sri Lanka Telecom PLC All Rights Reserved</title>
</head>
<body>
    <section style="background-color: #eee;">
        <div class="container py-3">
            <div class="row">
                <div class="col">

                    <!-- Navbar -->
                    <nav class="navbar navbar-expand-lg navbar-light bg-white">
                        <!-- Container wrapper -->
                        <div class="container-fluid">
                            <!-- Toggle button -->
                            <button class="navbar-toggler"
                                    type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#navbarSupportedContent"
                                    aria-controls="navbarSupportedContent"
                                    aria-expanded="false"
                                    aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>

                            <!-- Collapsible wrapper -->
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <!-- Navbar brand -->
                                <a class="navbar-brand mt-2 mt-lg-0" href="#">
                                    <img src="~/images/SLTMOBITEL Logo E_Master.png"
                                         height="55" />
                                </a>
                                <!-- Left links -->
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">User Details</a>
                                    </li>

                                </ul>
                                <!-- Left links -->
                            </div>
                            <!-- Collapsible wrapper -->
                            <!-- Right elements -->
                            <div class="d-flex align-items-center">
                                <!-- Icon -->
                                <!-- Avatar -->
                                <div class="dropdown">

                                    <!--<img src="Images/user.png"
                                    class="rounded-circle"

                                    alt="Black and White Portrait of a Man"
                                    loading="lazy" />-->
                                    <img id="img_click_logout" src="~/images/logout.png" />

                                </div>
                            </div>
                            <!-- Right elements -->
                        </div>
                        <!-- Container wrapper -->
                    </nav>

                </div>
            </div>

            <div class="row">

                <div class="card-body">
                    <div class="card mb-4">
                        <br />
                        <div class="col-lg-6"> </div>
                        <div class="col-lg-6">

                            <font color="blue"><b>Login Success</b></font>
                            &nbsp; &nbsp;
                            <buttona href="/Home/Index" id="getUserDetailsBtn" class="btn btn-success mb-2">Get User Details</buttona>

                        </div>
                        <br />
                    </div>
                </div>
            </div>
            <div id="userDetails">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="card mb-4">
                            <div class="card-body text-center">
                                <img src="~/images/user.jpg" alt="avatar"
                                     class="rounded-circle img-fluid" style="width: 150px;">
                                <h5 class="my-3">@ViewBag.name</h5>
                                <p class="text-muted mb-1">@ViewBag.designation</p>
                                <p class="text-muted mb-4">@ViewBag.group</p>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-8">
                        <div class="card mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Service No</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@ViewBag.sn</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Full Name</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@ViewBag.name</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Designation</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@ViewBag.designation</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Group</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@ViewBag.group</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Contact No</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@ViewBag.phone</p>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <p class="mb-0">Email</p>
                                    </div>
                                    <div class="col-sm-9">
                                        <p class="text-muted mb-0">@ViewBag.email</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="row">  <br /> <br /> </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="row text-center">

        <div class="col">
            <br />
            Copyright © 2023 Sri Lanka Telecom PLC. All rights reserved.
        </div>
    </div>

    @*/////////*@
    <!--<h1>hello</h1>
    <h1>@ViewBag.Message</h1>-->
    @*<h1>@ViewBag.Message1</h1>
        <h1>@ViewBag.Message2</h1>*@

    <!--<p><a href="/Home/GetUserDetails" class="btn btn-primary btn-lg">Get User Details</a></p>-->
</body>
</html>

<script>
    $(document).ready(function () {
        $("#userDetails").hide();

        $("#getUserDetailsBtn").click(function () {
            $("#userDetails").show();
        });

        $('#img_click_logout').click(function () {
            window.open('Index', '_self');

            //    window.location = 'CaseDocumentFileMoreDetails?RefNo=' + refNo;
        });
    });
</script>
